<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <link href="{% static 'css/todoapp.css' %}" rel="stylesheet">
</head>

<body>
     <header>
          <div>
               <nav class="#42a5f5 blue lighten-1">
                    <div class="container-fluid ">
                          <a id="welcomeuser" href="#!" class="brand-logo left">Welcome !</a>
                          <ul class="right hide-on-med-and-down">
                                  <li><a class="dropdown-button" href="#!" data-activates="dropdown" data-beloworigin="true">
                                       Settings <i class="large material-icons mdi-navigation-arrow-drop-down right">settings</i></a></li>
                          </ul>
                  </div>
               </nav>

               <ul id="dropdown" class="dropdown-content collection">
                       <li>
                            <a href="#"><h5 class="black-text"> Change Password</h5></a>
                       </li>
                       <li>
                            <a href="{% url 'logoutt' %} "><h5 class="black-text"> Log Out</h5></a>
                       </li>
               </ul>
          </div>
     </header>

     <main>
          <div class="container s5 m5">
            <h4 class="center">Todo Lists</h4>
               <div id="todo_content" class="container">
                      <div id = "loader" class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>  
                    
                    <div id="listcontainer" class="container-fluid">
                         <ul id="todolists" class="collapsible popout" data-collapsible="accordion">
                              
                         </ul>
                         
                      <div class="fixed-action-btn">
                        <button id="createForm" class="btn-floating btn-large waves-effect waves-light red" onclick=createList(this) type="submit">
                          <i class="large material-icons">mode_edit</i>
                        </button>
                      </div>
          
                    </div>
                    <div class="section"></div>
               </div>
               
                 <!-- Modal Structure -->
                 <div id="modal1" class="modal">
                    <form id="updform" action="">
                        <div class="modal-content">
                          <h4>Update Item</h4>
                           Description : <input type="text" name="description" id="item_description" class="validate" required><br>
                           Due By :      <input type="date" name="due_by" class="datepicker" id="item_dueby" class="validate" required><br>
                             <p>
                               <input type="checkbox" name="item_status" id="completed"/>
                               <label for="completed">Completed</label>
                             </p>

                        </div>
                        <div class="modal-footer">
                          <input id="updatebtn" class="modal-action modal-close waves-effect waves-green btn-flat" value="Submit" type="submit"> </div>
                     </form>
                 </div>   
               
               <div id="modal2" class="modal">
                    <form id="new_list" action="">
                        <div class="modal-content">
                          <h4>Add Todo List</h4>
                           List Name : <input type="text" name="name" id="list_name" class="validate" required><br>
                          <input type="date" id="theDate" name="creation_date" class="datepicker" id="item_dueby" class="validate"><br>
                        </div>
                        <div class="modal-footer">
                          <input id="newlistbtn" class="modal-action modal-close waves-effect waves-green btn-flat" value="Submit" type="submit"> </div>
                     </form>
                 </div>  
               
               <div id="modal3" class="modal">
                    <form id="update_list" action="">
                        <div class="modal-content">
                          <h4>Update Todo List</h4>
                           List Name : <input type="text" name="name" id="list_name" class="validate" required><br>
                          <input type="date" id="theDate" name="creation_date" class="datepicker" id="item_dueby" class="validate"><br>
                        </div>
                        <div class="modal-footer">
                          <input id="updatelistbtn" class="modal-action modal-close waves-effect waves-green btn-flat" value="Submit" type="submit"> </div>
                     </form>
                 </div>  
          </div>
          </main>



      <footer class="page-footer #9e9e9e grey">
        <div class="container ">
          <div class="row">
            <div class="col l12 s12">
              <h5 class="white-text">Footer</h5>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
              Copyright &copy; 2017 pvsmpraveen.
          </div>
        </div>
      </footer>
     
     <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
     <script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
     <script src="{% static 'js/todoapp.js' %}"> </script>

          
     <!--    SCRIPT TEMPLATES AND FUNCTIONS         -->
     
     <script id="listTemplate" type="text/html">
          <li id="lis_${id}">
               
              <div class="collapsible-header">
                   <table>
                         <tr id=lists_${id}>
                              <td style="min-width: 10px; max-width: 10px; word-break:break-all;"> <i class="material-icons">today</i> </td>
                              <td style="min-width: 40px; max-width: 50px; word-break:break-all;" id="lists_name_${id}">${name}</td>
                              <td style="min-width: 20px; max-width: 20px; word-break:break-all;" id="lists_date_${id}">${creation_date}</td>
                              <td style="min-width: 10px; max-width: 10px"><a id="upd_list_${id}" class="modal-trigger waves-effect waves-teal" href="#modal3">
                                   <i class="material-icons">input</i> </a> </td>
                              <td style="min-width: 10px; max-width: 10px"><a id="del_list_${id}" class="waves-effect waves-teal" onclick=deleteList(this)>
                                   <i class="material-icons">delete</i></a>   
                              </td>
                         </tr>
                    </table>
              </div>   
               <div class="container-fluid right col 3">

              </div>
               <div id="cbody_${id}" class="collapsible-body">
                    <table id="table_${id}">
                      <thead>
                         <th>Description</th>
                         <th>Due By</th>
                         <th>Completed</th>
                         <th colspan="2"> Action </th>
                         </thead>
                         
                           {% verbatim %}
                             {{each(id,description,due_by,completed) items}}
                         
                          <tr id=items_${id} class="item">
                               <td id=items_desc_${id}>${description} </td> 
                               <td id=items_due_${id}>${due_by} </td>
                               <td id={items_compl_${id}>${completed} </td>
                              <td><a id="upd_item_${id}" class="modal-trigger waves-effect waves-teal" href="#modal1">
                                <i class="material-icons">input</i> </a>
                              <td><a id=item_${id} class="del_item" href="javascript:;"> <i class="material-icons">delete</i> </a> </td>
                           </tr>   
                              {{/each}}
                              {% endverbatim %}
                         <tr>
                              <form action="">
                              <td><input id="new_item_${id}" type="text" placeholder="new work here" required></td>
                              <td><input id="new_date_${id}" type="date"></td>
                              <td>                            
                               <input type="checkbox" name="item_status" id="new_compl_${id}">
                               <label for="new_compl_${id}">Completed</label>
                              </td>
                              <td colspan="2">  <button id="butt_${id}" class="btn-floating btn-large waves-effect waves-light red" onclick=postFun(this) type="submit"><i class="material-icons">add</i></button></td>
                              </form>     
                         </tr>    
                    </table>     
               </div>
          </li>
     </script>
     

</body>
</html>
